pipeline/PL_Variables.json
{
	"name": "PL_Variables",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "date",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "items",
					"value": {
						"value": "@variables('date')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"date": {
				"type": "String"
			},
			"items": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3
				]
			}
		},
		"annotations": []
	}
}